SERVICE_VERSION=3.2.3
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
ENVOY_ADMIN_URL=http://heady-envoy-admin.heady-system.svc.cluster.local:9901
HEADY_URL_HEADYME=https://headyme.com
HEADY_URL_HEADYSYSTEMS=https://headysystems.com
HEADY_URL_HEADYOS=https://headyos.com
HEADY_URL_HEADYBUDDY=https://headybuddy.com
HEADY_URL_HEADYMCP=https://headymcp.com
HEADY_URL_HEADYAPI=https://headyapi.com
HEADY_URL_HEADYIO=https://heady.io
HEADY_URL_HEADYCONNECTION=https://headyconnection.com
HEADY_URL_HEADYCONNECTION_ORG=https://headyconnection.org
HEADY_URL_HEADYBOT=https://headybot.com
HEADY_URL_HEADYBEE=https://headybee.co
HEADY_URL_HEADYLENS=https://headylens.ai
